{% extends "base.html" %}
{% block content %}
{% if posts %}
<ul class="post-list">
  {% for post in posts %}
  <li class="post-item">
    <h2><a href="/posts/{{ post.slug }}">{{ post.title }}</a></h2>
    {% if post.excerpt %}<p class="excerpt">{{ post.excerpt }}</p>{% endif %}
    <p class="meta">
      <time>{{ post.published_at }}</time>
      <span class="author">{% if post.author_avatar_url %}<img class="avatar" src="{{ post.author_avatar_url | url }}" alt="">{% endif %}{{ post.author_display }}</span>
    </p>
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="empty">还没有公开文章。</p>
{% endif %}
{% endblock %}
