{% extends "base.html" %}
{% block content %}
{% if posts %}
<ul class="post-list">
  {% for post in posts %}
  <li class="post-item">
    <h2><a href="{{ post.url | url }}">{{ post.title }}</a></h2>
    {% if post.excerpt %}<p class="excerpt">{{ post.excerpt }}</p>{% endif %}
    <p class="meta">
      <time>{{ post.published_at }}</time>
      <span class="author">{% if post.author_avatar_url %}<img class="avatar" src="{{ post.author_avatar_url | url }}" alt="">{% endif %}{{ post.author_display }}</span>
    </p>
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="empty">还没有公开文章。</p>
{% endif %}
<nav class="pagination" aria-label="文章分页">
  {% if pagination.previous_url %}<a rel="prev" href="{{ pagination.previous_url | url }}">上一页</a>{% endif %}
  <span>第 {{ pagination.page }} 页</span>
  {% if pagination.next_url %}<a rel="next" href="{{ pagination.next_url | url }}">下一页</a>{% endif %}
</nav>
{% endblock %}
